.container
  section.about
    .about__wrapper
      .about__video
        iframe(
          src="https://www.youtube.com/watch?v=_E6RbwNtIEI",
          title="YouTube video player",
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
          allowfullscreen
        )
      .about__content
        .about__icon
          +icon("title", 240, 22)
        p.about__subtitle лет нашего опыта
        p.about__text DuffBeer — один из мировых лидеров по производству дрожжей и других продуктов ферментации. И нам нужна сильная команда профессионалов и единомышленников, которые будут стремиться развиваться вместе с DuffBeer.
        p.about__text
          | Мы всегда рады принять талантливых и целеустремленных людей в нашу дружную команду! Мы ценим каждого своего сотрудника и стремимся предоставить всем равные возможности в развитии
          br
          |и совершенств.
