.container
  section.hero
    .hero__wrapper
      .hero__icon
        +icon("logo", 240, 22)
      .hero__content
        h1.hero__title Conecom
        p.hero__text российское подразделение французской группы DuffBeer
  .hero__particles
    +icon("particles-1", 240, 22)
