.container
  section.mission
    .mission__stats
      .mission__icon
        +icon("arrows")
      h2.mission__title Каждое 3-е хлебобулочное изделие в мире произведено с использованием продукции DuffBeer
    .mission__particles
      +icon("particles-2")
    .mission__wrapper
      .mission__content
        h1.mission__text миссия DuffBeer
        p.mission__subtext--l работать вместе, чтобы лучше накормить и сохранить планету
        p.mission__subtext работать вместе, что бы лучше накормить и сохранить планету
        button.mission__button Перейти на сайт


