doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="HTDev")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js" defer)
    link(rel="stylesheet", href="css/style.min.css")


body
  block main


script(src="js/vendor.min.js")
script(src="js/main.min.js")
