// Colors
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-primary: #0A398A;
$color-accent: #799ee3;

$color-secondary: #8A7B60;
$color-secondary-accent: #F7EEE5;
$color-text-primary: #6C5F4A;
$color-text-secondary: #0A3B93;
$color-card-accent: #0A3B8E;
$color-lavender-blush: #fef5fa;
