
//- Utils

include ../utils/icon
include ../utils/img
include ../utils/picture


//- Blocks

include ./blocks/hero
include ./blocks/about
include ./blocks/missiom
include ./blocks/advantages
include ./blocks/statistics
